body {
  margin-left: 200px;
  margin-right: 200px;
}

#unified {
  font-family: 'Special Elite', cursive;
  font-weight: lighter;
  text-align: left;
  margin-left: 70px;
}

#agenciesTitle {
  font-size: 80px;
  font-family: 'Meddon', cursive;
  text-align: center;
}

#search {
  font-size: 23px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: lighter;
  text-align: center;
}



#google_translate_element {
  margin-left: 750px;
}



#line {
  text-align: center;
}

h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.topnav a{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: Black;
  text-decoration: none;
}








.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: Silver;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: Silver;}





/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 70%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;

}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;

}
.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;

}
#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}
.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}
.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
#pac-input:focus {
  border-color: #4d90fe;
}
#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}
