body {
  margin-left: 100px;
  margin-right: 100px;
}

#pageTitle {
  font-size: 80px;
  font-family: 'Meddon', cursive;
  text-align: center;
}

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
}

h4 {
  font-family: 'Khand', sans-serif;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
}

h5 {
  font-family: 'Khand', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

#tips {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

li {
  font-family: 'Khand', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.topnav a{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: Black;
  text-decoration: none;
}

/* Set the size of the div element that contains the map */
#map {
 height: 400px;  /* The height is 400 pixels */
 width: 80%;  /* The width is the width of the web page */
 margin-left: auto;
 margin-right: auto;

}

#google_translate_element {
  margin-left: 950px;
}




.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: Silver;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: Silver;}
