body {
  margin-left: 100px;
  margin-right: 100px;
}

#rightsTitle {
  font-size: 80px;
  font-family: 'Meddon', cursive;
  text-align: center;
}

#google_translate_element {
  margin-left: 950px;
}

#unified {
  font-family: 'Abril Fatface', cursive;
}


.topnav a{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: Black;
  text-decoration: none;
}


p {
  font-family: 'Khand', sans-serif;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
}

#line {
  text-align: center;
}




.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: Silver;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: Silver;}
